.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E5446D;
  padding: 10px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.search-input {
  width: 300px; /* Increased width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  background-color: #FF8966;
  padding: 4px 10px 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wishlist-link,
.cart-link {
  font-size: 22px;
  text-decoration: none;
  color: white;
}
