<nav
  class="fixed top-0 w-screen h-16 bg-stone-700 flex items-center justify-between px-5 py-2.5 z-[1000]"
>
  <div
    class="flex w-full md:w-[90vw] items-center justify-between px-0 md:px-[50px] mx-auto"
  >
    <a
      routerLink="/"
      class="text-white text-xl md:text-[22px] font-bold no-underline"
    >
      CompuTech
    </a>

    <div class="flex items-center md:flex-grow justify-center">
      <input
        type="text"
        placeholder="Search products..."
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearchChange()"
        (input)="searchQuery === '' && onSearchChange()"
        class="w-[150px] md:w-[300px] px-3 py-2 border border-gray-300 rounded-full bg-white transition-[width] duration-300 ease-in-out"
      />
      <a
        (click)="onSearchChange()"
        class="px-2.5 py-1.5 rounded cursor-pointer text-xs"
      >
        <img
          width="24"
          height="24"
          src="https://img.icons8.com/forma-bold/24/FFFFFF/search.png"
          alt="search"
        />
      </a>
    </div>

    <button
      class="md:hidden text-2xl text-white cursor-pointer p-2.5"
      (click)="toggleMenu()"
    >
      ☰
    </button>

    <div
      id="dropdown"
      class="rounded-md border border-gray-200 bg-white p-1 shadow-md grid min-w-40 absolute right-0 mt-90 md:hidden"
      *ngIf="menuOpen"
      aria-labelledby="dropdownDefaultButton"
    >
      <a class="hover:bg-stone-200 p-4" href="" *ngIf="username">{{
        username
      }}</a>
      <a class="hover:bg-stone-200 p-4" href="" routerLink="/wishlist"
        >Wishlist</a
      >
      <a class="hover:bg-stone-200 p-4" href="" routerLink="/orders">Orders</a>
      <a class="hover:bg-stone-200 p-4" href="" routerLink="/cart">Cart</a>
      <a class="hover:bg-stone-200 p-4 font-bold" href="">Logout</a>
    </div>

    <div
      class="flex items-center gap-4 max-md:hidden max-md:absolute max-md:top-[60px] max-md:right-0 max-md:w-[200px] max-md:bg-[#E5446D] max-md:flex-col max-md:p-2.5 max-md:shadow-[0px_4px_8px_rgba(0,0,0,0.2)] max-md:rounded-md max-md:[&>a]:block max-md:[&>a]:p-2.5 max-md:[&>a]:text-center"
      [class.active]="menuOpen"
      [class.max-md:flex]="menuOpen"
    >
      <a routerLink="/orders" *ngIf="username" class="text-white font-bold"
        >Orders</a
      >

      <a routerLink="/wishlist">
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/forma-regular/96/FFFFFF/like.png"
          alt="like"
        />
      </a>

      <a routerLink="/cart">
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/ios-glyphs/30/FFFFFF/shopping-cart--v1.png"
          alt="shopping-cart"
        />
      </a>

      <span class="text-white font-bold" *ngIf="username">{{ username }}</span>
      <span
        class="text-white font-bold cursor-pointer"
        *ngIf="username"
        (click)="logout()"
      >
        LOGOUT
      </span>

      <button>
        <span
          class="text-white font-bold"
          *ngIf="!username"
          routerLink="/login"
        >
          Login
        </span>
      </button>
    </div>
  </div>
</nav>
