.navbar {
  display: flex;
  /* width: 100vw; */
  width: 100vw;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #E5446D;
  padding: 10px 20px;
  position: fixed;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.search-input {
  width: 300px; /* Increased width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  background-color: #FF8966;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wishlist-link,
.cart-link {
  font-size: 22px;
  text-decoration: none;
  color: white;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.login-text {
  color: white;
  font-weight: bold;
}