<div class="container">
  <h1 class="product-list-heading">Product List</h1>

  <div class="product-grid">
    <div *ngFor="let product of filteredProducts" class="product-card" [routerLink]="['/product', product.id]">
      <img *ngIf="product.image" [src]="product.image" alt="Product Image" class="product-image" />
      <img *ngIf="!product.image" src="https://via.placeholder.com/300x200" alt="No Image" class="product-image" />

      <div class="product-details">
        <h2 class="product-name">{{ product.name }}</h2>
        <p class="product-description">{{ product.description || 'No description available.' }}</p>
        <p class="product-price">{{ product.price | currency: "R" }}</p>
      </div>
    </div>
  </div>
</div>