<div class="container">
  <a routerLink="/" class="logo">CompuTech</a>
  <input class="input-field" [(ngModel)]="username" placeholder="Username" />
  <input class="input-field" [(ngModel)]="password" type="password" placeholder="Password" />
  <select class="option-field" [(ngModel)]="role"  value="user" hidden>
      <!-- <option value="user">User</option>
      <option value="admin">Admin</option> -->
  </select>
  <input class="input-field" [(ngModel)]="email" placeholder="Email (optional)" />
  <input class="input-field" [(ngModel)]="phone" placeholder="Phone (optional)" />
  <button class="register-button" (click)="register()">Register</button>
  <p class="header-text">Already have an account? <a routerLink="/login" style="color: #FF8966;">Login</a></p>
  <p *ngIf="message" class="error-message">{{ message }}</p>
</div>
