<div class="container">
  <a routerLink="/" class="logo">CompuTech</a>

  <!-- Username -->
  <input
    class="input-field"
    [(ngModel)]="username"
    name="username"
    placeholder="Username"
    required
    minlength="3"
    #usernameInput="ngModel"
  />
  <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error-message">
    Username is required and must be at least 3 characters long.
  </div>

  <!-- Password -->
  <input
    class="input-field"
    [(ngModel)]="password"
    name="password"
    type="password"
    placeholder="Password"
    required
    minlength="6"
    #passwordInput="ngModel"
  />
  <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
    Password is required and must be at least 6 characters long.
  </div>

  <!-- Email -->
  <input
    class="input-field"
    [(ngModel)]="email"
    name="email"
    placeholder="Email"
    type="email"
    required
    #emailInput="ngModel"
  />
  <div *ngIf="email && !isFormValid() && emailInput.touched" class="error-message">
    Please enter a valid email address.
  </div>

  <!-- Phone -->
  <input
    class="input-field"
    [(ngModel)]="phone"
    name="phone"
    placeholder="Phone (optional)"
    type="tel"
  />

    <!-- Role -->
    <input
    hidden
    class="input-field"
    [(ngModel)]="role"
    name="role"
    placeholder="Role"
    type="text"
  />

  <button class="register-button" (click)="register()" [disabled]="!isFormValid()">Register</button>

  <p class="header-text">
    Already have an account? <a routerLink="/login" style="color: #FF8966;">Login</a>
  </p>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>

  <p *ngIf="message" class="error-message">{{ message }}</p>
</div>
